.add .text,
.add .notes {
  min-height: 40px;
  padding: 15px;
  color: cornflowerblue; }

.add .saveButtonContainer {
  margin-bottom: 100px; }
  .add .saveButtonContainer button {
    width: 100%;
    padding: 20px;
    background: orange; }

.add .notes {
  font-size: 18px; }

.tabButtons {
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  padding-top: 20px;
  background: white;
  width: 100%;
  border-top: 1px solid grey;
  left: 0;
  text-align: center; }
  .tabButtons button.empty, .tabButtons button.confirm {
    background: orange; }
    .tabButtons button.empty:disabled, .tabButtons button.confirm:disabled {
      background: lightgray;
      color: white; }
  .tabButtons button.filled {
    background: green; }
