html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  height: 100vh;
  box-sizing: border-box; }

html,
body,
#root,
.App {
  width: 100%;
  height: 100%; }

label {
  display: block; }

button {
  color: white;
  background-color: cornflowerblue;
  border: none;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  font-size: 16px; }

textarea,
select {
  margin: 5px;
  font-size: 24px;
  color: cornflowerblue;
  border: 2px solid green;
  border-radius: 0;
  padding: 5px; }

label,
.label {
  font-size: 16px;
  display: block; }

textarea {
  border: solid 2px green;
  box-sizing: border-box;
  width: 100%; }

.formRow {
  box-sizing: border-box;
  padding: 10px; }

h1 {
  font-size: 32px;
  margin: 15px 0;
  font-weight: bold; }

table {
  font-size: 18px; }
  table thead {
    display: table;
    width: 100%;
    table-layout: fixed; }
    table thead th {
      color: white;
      background: cornflowerblue;
      padding: 6px;
      border: 1px solid white;
      text-align: center; }
  table tbody {
    display: block;
    height: calc(100vh - 182px);
    overflow-y: scroll; }
    table tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed; }
      table tbody tr:nth-child(even) {
        background: lavender; }
      table tbody tr td {
        padding: 6px; }

.menuLayer {
  position: absolute;
  background-color: white;
  width: 100%; }
  .menuLayer.open {
    height: 100%; }
    .menuLayer.open .menuButton {
      position: fixed;
      height: 30px;
      width: 30px;
      right: 10px;
      top: 10px;
      background-color: white;
      background-image: url(../image/button/close-button.svg);
      background-repeat: no-repeat; }
    .menuLayer.open nav {
      padding: 20px; }
      .menuLayer.open nav a {
        display: block;
        text-align: left;
        text-decoration: none;
        margin: 10px 0; }
  .menuLayer.closed .menuButton {
    position: fixed;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 5px;
    background-color: white;
    background-image: url(../image/button/hamburger.svg);
    background-repeat: no-repeat; }

.pageLayer {
  text-align: left;
  align-items: stretch;
  padding: 60px 20px;
  position: absolute;
  width: 100%;
  height: 100%; }

.settingsPage {
  padding: 20px; }
  .settingsPage .settingsSection {
    margin-bottom: 20px; }
    .settingsPage .settingsSection .sectionTitle {
      font-weight: 800; }

.add .text,
.add .notes {
  min-height: 40px;
  padding: 15px;
  color: cornflowerblue; }

.add .saveButtonContainer {
  margin-bottom: 100px; }
  .add .saveButtonContainer button {
    width: 100%;
    padding: 20px;
    background: orange; }

.add .notes {
  font-size: 18px; }

.tabButtons {
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  padding-top: 20px;
  background: white;
  width: 100%;
  border-top: 1px solid grey;
  left: 0;
  text-align: center; }
  .tabButtons button.empty, .tabButtons button.confirm {
    background: orange; }
    .tabButtons button.empty:disabled, .tabButtons button.confirm:disabled {
      background: lightgray;
      color: white; }
  .tabButtons button.filled {
    background: green; }
