%flag-en {
	background-image: url(../image/button/flag_uk.jpg);
}

%flag-cz {
	background-image: url(../image/button/flag_cz.jpg);
}

%flag {
	background-size: contain;
	display: inline-block;
	border-radius: 3px;
	border: 2px solid silver;

	&.cz {
		@extend %flag-cz;
	}

	&.en {
		@extend %flag-en;
	}

	&.no-language {
		display: none;
	}
}