.menuLayer {
	position: absolute;
	background-color: white;
	width: 100%;

	&.open {
		height: 100%;

		.menuButton {
			position: fixed;
			height: 30px;
			width: 30px	;
			right: 10px;
			top: 10px;
			background-color: white;
			background-image: url(../image/button/close-button.svg);
			background-repeat: no-repeat;
		}

		nav {
			padding: 20px;
			a {
				display: block;
				text-align: left;
				text-decoration: none;
				margin: 10px 0;
			}
		}
	}

	&.closed {
		.menuButton {
			position: fixed;
			height: 30px;
			width: 30px	;
			right: 10px;
			top: 5px;
			background-color: white;
			background-image: url(../image/button/hamburger.svg);
			background-repeat: no-repeat;
		}
	}
}