tr.unknown {
  background-color: #ffccd2; }

tr.familiar {
  background-color: #fff4c9; }

tr.known {
  background-color: #eaffe4; }

.emptyDictionaryAlert {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .emptyDictionaryAlert .message,
  .emptyDictionaryAlert .buttons {
    text-align: center;
    margin-bottom: 30px; }
