tr {
	&.unknown {
		background-color: #ffccd2;
	}
	&.familiar {
		background-color: #fff4c9;
	}
	&.known {
		background-color: #eaffe4;
	}
}

.emptyDictionaryAlert {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;

	.message,
	.buttons {
		text-align: center;
		margin-bottom: 30px;
	}
}
