#splashScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	#middleContainer {
		text-align: center;
		#appName {
			margin-bottom: 20px;
		}
		#tagLine {
			font-size: 14px;
		}
		.buttons {
			margin-top: 20px;
		}
	}
}
