#splashScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  #splashScreen #middleContainer {
    text-align: center; }
    #splashScreen #middleContainer #appName {
      margin-bottom: 20px; }
    #splashScreen #middleContainer #tagLine {
      font-size: 14px; }
    #splashScreen #middleContainer .buttons {
      margin-top: 20px; }
