.add {

	textarea,
	select {
		margin: 5px;
		font-size: 16px;
		color: cornflowerblue;
		border: 2px solid green;
		border-radius: 0;
		padding: 5px;
	}

	label,
	.label {
		font-size: 10px;
		display: block;
	}

	.summaryValue {
		min-height: 40px;
		padding: 15px;
	}
	.saveButtonContainer {
		margin-bottom: 30px;
	}
}

.tabButtons {
	position: fixed;
	bottom: 10px;
	margin: 0 auto;
	padding-top: 20px;
	background: white;
	width: 100%;
	border-top: 1px solid grey;
	left: 0;
	text-align: center;
}
