html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  box-sizing: border-box; }

label {
  display: block;
  margin: 10px 0; }

.view {
  padding: 10px; }

.navLayer {
  position: fixed;
  background-color: white; }
  .navLayer nav {
    height: 100vh;
    width: 100vw; }
    .navLayer nav a {
      display: block;
      text-align: left;
      text-decoration: none;
      margin: 10px 0; }
  .navLayer .navButton {
    height: 30px;
    width: 30px;
    background-image: url(../image/button/hamburger.svg); }

.PageLayer .en.flag {
  background-image: url(../image/button/flag_uk.jpg); }

.PageLayer .cz.flag {
  background-image: url(../image/button/flag_cz.jpg); }

.PageLayer .flag {
  background-size: contain;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid silver; }
  .PageLayer .no-language.flag {
    display: none; }

.PageLayer {
  padding-top: 40px;
  text-align: left;
  align-items: stretch; }
  .PageLayer div.view {
    width: 100%; }
    .PageLayer div.view input.invalid,
    .PageLayer div.view select.invalid {
      outline: 2px red solid; }
    .PageLayer div.view button.flag {
      margin: 10px;
      height: 40px;
      width: 76px;
      cursor: pointer; }
  .PageLayer .flag {
    height: 20px;
    width: 41px; }
  .PageLayer.confirmationView .editLink {
    margin-left: 20px; }

.settingsSection {
  margin: 20px; }
  .settingsSection .sectionTitle {
    font-weight: 800; }
