.menuButton {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(../image/button/hamburger.svg); }

.menuLayer {
  position: absolute;
  background-color: white;
  padding: 20px; }
  .menuLayer nav {
    height: 100%;
    width: 100%; }
    .menuLayer nav a {
      display: block;
      text-align: left;
      text-decoration: none;
      margin: 10px 0; }
