.navLayer {
  position: fixed;
  background-color: white; }
  .navLayer nav {
    height: 100vh;
    width: 100vw; }
    .navLayer nav a {
      display: block;
      text-align: left;
      text-decoration: none;
      margin: 10px 0; }
  .navLayer .navButton {
    height: 30px;
    width: 30px;
    background-image: url(../image/button/hamburger.svg); }
