.navLayer {
  position: fixed; }
  .navLayer nav {
    height: 100vh;
    width: 100vw;
    background-color: white; }
    .navLayer nav a {
      display: block;
      text-align: left;
      padding: 15px;
      text-decoration: none; }
  .navLayer .navButton {
    height: 30px;
    width: 30px;
    background-image: url(../image/button/hamburger.svg); }
