.pageLayer .page .en.flag {
  background-image: url(../image/button/flag_uk.jpg); }

.pageLayer .page .cz.flag {
  background-image: url(../image/button/flag_cz.jpg); }

.pageLayer .page .flag {
  background-size: contain;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid silver; }
  .pageLayer .page .no-language.flag {
    display: none; }

.pageLayer {
  padding-top: 40px; }
  .pageLayer .page {
    text-align: left;
    align-items: stretch; }
    .pageLayer .page div.view {
      width: 100%; }
      .pageLayer .page div.view input.invalid,
      .pageLayer .page div.view select.invalid {
        outline: 2px red solid; }
      .pageLayer .page div.view button.flag {
        padding: 0;
        height: 40px;
        width: 76px; }
    .pageLayer .page .flag {
      height: 20px;
      width: 41px; }
    .pageLayer .page.confirmationView .editLink {
      margin-left: 20px; }
