.page .langView button.en, .page .flag.en {
  background-image: url(/image/button/flag_uk.jpg); }

.page .langView button.cz, .page .flag.cz {
  background-image: url(/image/button/flag_cz.jpg); }

body,
#root,
.page,
.inputView,
.noteView {
  height: 100vh; }

.page {
  text-align: center;
  background-color: #c9e3e4;
  color: #570f0f; }
  .page input, .page button {
    font-size: 20px; }
  .page .inputView {
    margin: 20px; }
  .page .langView .inputText {
    font-size: 30px;
    height: 40px; }
  .page .langView button {
    padding: 10px;
    margin: 20px;
    width: 81px;
    height: 40px;
    background-color: #fdd5ad; }
  .page .confirmationView .editLink {
    margin-left: 20px; }
  .page .noteView textarea {
    width: 80%;
    height: 30%; }
  .page .flag {
    width: 40px;
    height: 20px;
    background-size: contain;
    display: inline-block;
    margin-right: 20px; }
