%flag-en {
  background-image: url(/image/button/flag_uk.jpg);
}
%flag-cz {
  background-image: url(/image/button/flag_cz.jpg);
}
%flag {
  background-size: contain;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid silver;

  &.cz {
    @extend %flag-cz;
  }

  &.en {
    @extend %flag-en;
  }

  &.no-language {
    display: none;
  }
}

body {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(87, 15, 15);
  padding: 40px;
  font-size: 30px;
  align-items: stretch;

  div.view {
    width: 100%;

    &.translationView {
      height: 100vh;

      .half {
        height: 50vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content {
          align-items: stretch;

          button {
            margin-top:30px;
          }
        }
      }
    }

    &.noteView {
      height: 100vh;
      textarea {
        width: 80%;
        height: 60%;
        outline: 3px solid #5d0609;
        font-size: 32px;
      }
    }

    input {
      font-size: 20px;
      width: 100%;
      padding: 10px;
      margin-bottom: 40px;
      box-sizing: border-box;
      background-color: rgb(245, 245, 217);
      display: block;
      &.invalid {
        outline: 5px red solid;
      }
    }

    button {
      font-size: 20px;
      width: 100%;
      padding: 10px;
      background-color: maroon;
      color: white;
      border-radius: 4px;
      padding: 18px 0;
      box-shadow: 5px 5px 5px grey;

      &.flag {
        padding: 0;
        height: 60px;
        width: 116px;
        margin: 10px;
      }
    }
  }

  .flag {
    @extend %flag;
    height: 20px;
    width: 41px;
    margin: 10px;
  }

  &.langView {
    .inputText {
      font-size: 30px;
      color: #5d0609;
      border: 2px solid #5d0609;
      border-radius: 3px;
      position: relative;
      height: 200px;
      overflow: auto;
      padding: 10px;
      text-align: left;
      font-size: 20px;
    }
    .flagButtons {
      margin: 30px 0;
    }
  }

  &.confirmationView {
    .editLink {
      margin-left: 20px;
    }
  }
}

